<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>

    <%- include('./temp.ejs') %>

    <div class="container">
        <div class="left">
            <div class="title head">Discover and Reserve Your Perfect College Event Venue</div>
            <div class="para">Discover and book the ideal venue for your college events with ease. Simplify your event planning process and create unforgettable experiences.</div>
            <a href="/home" class="action btn">BOOK NOW</a>
        </div>
        <div class="right">
            <div class="img-wrapper">
                <img src="/images/land.png" alt="">
            </div>
        </div>
    </div>

</body>
</html>